.App {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.content-section {
  height: 100vh;
}

.icon-box-link {
  color: #990000;
}

.fa-arrow-right {
  margin-left: 5px;
}

.col-lg-3 {
  transition: box-shadow 0.8s;
}
.col-lg-3:hover {
  box-shadow: 0 14px 28px lightgrey, 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content-section-heading {
  padding-top: 80px;
}

#services {
  background-color: aquamarine;
}

@media only screen and (max-width: 768px) {
  .content-section {
    height: 100%;
  }
  .hide-on-break {
    display: none;
  }
  .resize-on-break {
    font-size: 12px;
  }
}
@media only screen and (max-height: 725px) {
  .content-section {
    height: 100%;
  }
  .hide-on-break {
    display: none;
  }
  .resize-on-break {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .col-lg-3 {
    transition: box-shadow 0.8s;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
