.testimonial-container {
  height: 400px;
  background-color: black;
  opacity: 0.7;
  color: white;
}
.testimonial-message {
  padding: 50px 100px 30px 100px;
  font-size: 21px;
}
.testimonial-by {
  font-family: Times, "Times New Roman", serif;
  font-size: 25px;
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  .testimonial-message {
    padding: 50px 32px 30px 32px;
    font-size: 15px;
  }
  .testimonial-by {
    font-size: 20px;
  }
}
